In [167]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy
import requests

In [168]:
site = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [169]:
site.status_code

200

In [170]:
soup = BeautifulSoup(site.content, 'html.parser')

In [171]:
print(soup.title)

<title>List of postal codes of Canada: M - Wikipedia</title>

In [172]:
table_html = soup.table
print(table_html.find_all('th'))

[<th>Postcode</th>, <th>Borough</th>, <th>Neighbourhood
</th>]

In [173]:
table = [text.get_text() for text in table_html.find_all('td')]

In [174]:
table[:3]

['M1A', 'Not assigned', 'Not assigned\n']

In [260]:
postcode = [table[i] for i in range(0, len(table), 3)]
postcode[:3]

['M1A', 'M2A', 'M3A']

In [261]:
borough = [table[i] for i in range(1, len(table), 3)]
borough[:3]

['Not assigned', 'Not assigned', 'North York']

In [262]:
neighbourhood = [table[i] for i in range(2, len(table), 3)]
neighbourhood = [s.replace('\n', '') for s in neighbourhood]
neighbourhood = [s.replace('Not assigned', borough[i]) for i, s in enumerate(neighbourhood)]

neighbourhood[:3]

['Not assigned', 'Not assigned', 'Parkwoods']

In [286]:
df_table = pd.DataFrame({
    'Postcode': postcode,
    'Borough': borough,
    'Neighbourhood': neighbourhood
}, columns=['Postcode', 'Borough', 'Neighbourhood'])

In [287]:
df_table.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [288]:
not_assign = df_table[((df_table['Borough'] == 'Not assigned'))].index

In [289]:
df_table.drop(not_assign, inplace=True)

In [290]:
df_table.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A      Queen's Park      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

In [291]:
post = df_table['Postcode'].groupby(df_table['Borough'])

In [ ]:
post.head()

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M6A        North York          Lawrence Heights
6        M6A        North York            Lawrence Manor
..       ...               ...                       ...
281      M8Z         Etobicoke  Kingsway Park South West
282      M8Z         Etobicoke                 Mimico NW
283      M8Z         Etobicoke        The Queensway West
284      M8Z         Etobicoke     Royal York South West
285      M8Z         Etobicoke            South of Bloor

[202 rows x 3 columns]